{% extends 'base.html.twig' %}


{% block title %}{% trans %}login{% endtrans %}{% endblock %}

{% block  stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
{{ form_start(form) }}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center">{% trans %}login{% endtrans %}</h1>

    {{ form_label(form.email) }}

    {{ form_widget(form.email) }}

    {{ form_label(form.password) }}

    {{ form_widget(form.password) }}

    {{ form_rest(form) }}

    {#  <a href="{{ path('forgot_password_request') }}">{% trans %}forgot_password{% endtrans %}</a>#}
{{ form_end(form) }}

{% endblock %}
